.error {
  color: red;
  padding: 0px !important;
  margin: 0px !important;
}

.text {
  color: #64b5f6;
  margin-left: 10px !important;
  margin-top: -10px !important;
  font-weight: bold;
  text-align: center;
}

#errorMsg{
  width: 80%;
  margin: auto;
  margin-bottom: 0px;
  height: 50px;
  text-align: center;
  background-color: #f6b2b5;
}

#errorMsg span{
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: relative;
  float: left;
  font-size: 15px;
}
#successMsg{
  margin: auto;
  margin-bottom: 0px;
  width: 80%;
  height: 50px;
  text-align: center;
  background-color: green;
}

#successMsg span{
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: relative;
  float: left;
  font-size: 15px;
}
