.error {
  color: red;
  padding: 0px !important;
  margin: 0px !important;
}

.text {
  color: #64b5f6;
  margin-left: 10px !important;
  margin-top: -10px !important;
  font-weight: bold;
  text-align: center;
}
