.postDiv {
  background-color: #64b5f6;
}
form {
  background-color: #fff;
}
.formDiv {
   margin: 0px 20px 0px 20px;
 }
.addImageBtn {
   margin-bottom: 5px;
 }
.postBtn {
   margin-bottom: 5px;
 }

 .title {
  color: #64b5f6;
  font-weight: bold;
 }
 .time {
  font-size: 14px;
  color: #666565;
}
.postComment {
  font-size: 15px;
}
.postImage {
  width: 100%;
  margin: 0 auto !important;
  left: 20px !important;
  top: 10px !important;
  height: 160px;
}
.card-image {
  width: 200px;
  height: 200px;
}
