<ul class="collection col s12 m12 l10" *ngFor="let post of topPosts">
    <li class="collection-item avatar">
      <img src="http://placehold.it/50x50" alt="" class="circle">
      <span class="title">{{post.username}}</span>
      <p class="time">{{timeFromNow(post.created)}} <br>
         <!-- country -->
      </p>
    </li>
    <div class="col s12">
      <div class="card">
        <!-- <div class="card-image">
          <img class="postImage" src="../../../assets/img/1.jpg"/>
        </div> -->
        <div class="card-content">
          <p>{{post.post}}</p>
        </div>
        <div class="card-action">
          <i (click)='likePost(post)' [ngClass]="(!checkInLikesArray(post.likes, user.username)) ? 'notLiked' : 'liked' " class="material-icons">thumb_up</i>
          <span class="iconSpan">{{post.totalLikes}}</span>
          <i (click)='openCommentBox(post)' [ngClass]="(!checkInLikesArray(post.comments, user.username)) ? 'notLiked' : 'liked' " class="material-icons">chat</i>
          <span class="iconSpan">{{post.comments.length}}</span>
        </div>
      </div>
    </div>
  </ul>
