<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <form class="col s12">
        <h1 id="titlel">Login</h1>
        <div class="row">
          <div class="input-field col s12">
            <input id="user"  type="text" />
            <label for="user">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pass" type="password" />
            <label for="pass">Password</label>
          </div>
        </div>
        <button class="btn waves-effect" id="btnl" >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
