<nav class="nav-extended">
  <div class='container'>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Chat App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a (click)='logout()'>Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class='nav-div'>
        <img class="circle responsive-img" src="../../../assets/img/1.jpg"/>
      </div>
      <h1 class="profile-name">Ahmed</h1>
      <p class="user-text">this is a test</p>
    </div>
  </div>
</nav>
