nav {
  background-color: #2196F3;
}
.nav-div {
  text-align: center;
}
.responsive-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
.profile-name, .user-text {
  text-align: center;
  margin-top: 1px;
  padding-bottom: 30px;
}
.collection {
  border: none !important;
}
.collection-item {
  border: none !important;
}
.isRead {
  color: #64b5f6;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: normal;
}
.unread {
  color: #64b5f6;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: bold;
}
.time {
  margin-bottom: 10px !important;
  font-style: italic;
}
.txt {
  text-align: center;
}
.nav-wrapper a {
  cursor: pointer;
}
.secondary-content{
  margin-top: -5px !important;
}
.markAll {
  color: #fff;
  margin-bottom: 2px;
  margin-right: 20px;
  background-color: #64b5f6 !important;
}
.nav-label-icon{
  background-color: red !important;
}
.dropdown-content{
  width: 300px !important;
}
